@font-face {
   font-family: 'WildEdge';
    src: url(/design/wildedge.otf);
}

/* BASE STYLES */
:root {
    --light-1: #F7F6EE;
    --light-2: #EEEDE2;
    --dark-blue: #132547;
    --blue-1: #d4f4fb;
    --blue-2: #95a4ae;
    --blue-3: #648cac;
    --blue-4: #5f84a4;
    --black-1: #262626;
    --black-2: #141414;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'WildEdge';
    color: var(--black-2);
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--black-2);
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Okay there was a code, pre section here. But I don't think its necessary for my site */


















/* Navbar */
.navbar {
    background-color: var(--blue-3);
    height: 70px;
}

.navbar ul {
    display: flex;
    font-size: 20px;
}

.navbar a {
    color: var(--light-1);
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover { 
    color: var(--dark-blue);
}

.navbar .flex {
    justify-content: space-between;
}





















/* Showcase */
.showcase {
    height: 450px;
    background-color: var(--blue-3);
    color: var(--light-2);
    position: relative;
}

.showcase .container {
    padding-left: 5rem;
}

.showcase-text {
    padding-top: 100px;
}

.showcase h1 {
    font-size: 50px;
    color: var(--dark-blue);
    text-shadow: 1px 1px 1px black;
}
.showcase h2 {
    font-size: 40px;
    color: var(--light-1);
    text-shadow: 1px 1px 1px black;
}

.showcase p {
    font-size: 20px;
    margin: 20px 0;
}

.showcase .grid {
    overflow: hidden;
    grid-template-columns: 55% 45%;
    gap: 30px;
}


/* Animations come here */

.showcase-image {
    position: relative;
    width: 100%;
    padding: 40px;
    z-index: 100;
    /* Animations */
}

.showcase .btn {
    font-size: 20px;
    transition: transform 0.2s ease-in;
}

.showcase svg {
    position: relative;
    z-index: -1;
    transform: translateY(-120px);
    background-color: var(--light-2);
}













/* Portfolio */
.projects {
    margin-top: 120px;
    padding: 20px 0;
    background-color: var(--light-2);
}

.projects .flex {
    flex-wrap: wrap;
}

.projects .card {
    text-align: center;
    margin: 18px 30px 20px;
    transition: background-color 0.2s ease-in;
    width: 400px;
    height: 300px;
}

.projects .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.projects .card:hover {
    background-color: var(--blue-3);
}























/* About */
.about {
    background-color: var(--light-2);
    color: var(--black-1);
}













/* Services */
.services {
    background-color: var(--light-2);
    padding: 2rem 0;
}

.services .flex {
    flex-wrap: wrap;
}

.services .card {
    text-align: center;
    height: 200px;
    width: 200px;
    position: relative;
}

.services .card:hover {
    transform: scale(1.1);
}

.services .card:first-child {
    background-color: rgba(6, 154, 250, 0.5);
}

.services .card:nth-child(2) {
    background-color: rgba(0, 111, 222, 0.5);
}

.services .card:nth-child(3) {
    background-color: rgba(29, 80, 178, 0.5);
}

.services .card:nth-child(4) {
    background-color: rgba(0, 52, 149, 0.5);
}

.services .card:nth-child(5) {
    background-color: rgba(6, 154, 250, 0.5);
}

.services .card:last-child {
    background-color: rgba(0, 111, 222, 0.5);
}

.services_page .text-left,
.services_page .text-right {
    margin: auto;
}




















/* Contact */

.contact {
    background-color: var(--light-2);
    padding-bottom: 50px;
    margin-bottom: -50px;
}

.contact-form {
    padding: 20px;
    line-height: 2rem;    
}

.contact-form input[type='text'], 
.contact-form input[type='email']{
    border: 0;
    border-bottom: 1px solid #b4becb;
    position: relative;
    min-width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: 'WildEdge';
}


.contact-form .message {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #b4becb;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: 'WildEdge';
}


.contact-form input[type='submit'] {
    margin-top: 10px;
    position: relative;
}

.contact-form input:focus,
.contact-form .message:focus {
    outline: none;
}

.contact .btn:hover {
    transform: none;
    background-color: var(--dark-blue);
}



/* Footer */
.footer {
    position: relative;
    overflow: auto;
}

.footer .social a {
    margin: 0 10px;
}

.footer .social a:hover {
    color: var(--blue-3);
}

.footer svg{
    margin-top: -100px;
}

.footer .container {
    transform: translateY(-50px);
}

.footer .container .grid {
    margin: auto;
}

@media (max-width: 800px) {
    .showcase-text{
        padding-top: 20px;
    }
    .projects {
        margin-top: 0;
    }

    .projects .btn {
        margin-top: 100px;
    }

    .projects .flex {
        width: 400px;
        padding-bottom: 100px;
    }

    .footer svg {
        display: none;
    }

    .footer .container {
        padding-top: 100px;
        grid-template-columns: repeat(1, 3fr);
        text-align: center;
    }

    .services_page .pic {
        display: none;
    }

}

@media (max-width: 600px){
    .navbar .flex{
        justify-content: center;
    }
    .navbar nav {
        display: none;
    }
    .showcase .grid {
        padding: 20px;
        display: block;
    }
    .showcase-text {
        margin: 0;
        text-align: center;
    }
    .showcase-image {
        display: none;
    }

    .about p {
        font-size: 1rem;
    }

    .contact .lead {
        font-size: 1rem;
    }

    .services .card {
        grid-template-columns: none;
    }

    .service_grid {
        display: none;
        display: flex;
        flex-wrap: wrap;
    }
}